:root {
    --darkblue-color: #00008b;
    --auto-size: auto;
    --1rem-size: 1rem;
    --text-center: center
}

nav {
    background-color: var(--darkblue-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--darkblue-color);
}

main img{
    width: 150px;
    height: var(--auto-size);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

main{
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--1rem-size);
    border: 1px solid rgba(0,0,0,0.2);
    padding: var(--1rem-size);
    background-color: #eee;
    color: #333;
    text-align: var(--text-center);
}

aside img{
    width: 200px;
    height: var(--auto-size);
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-center);
}