*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue-color: #00008b;
    --auto-size: auto;
    --1rem-size: 1rem;
    --text-center: center
}

nav {
    background-color: var(--darkblue-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--darkblue-color);
}

main img{
    float: right;
    width: 150px;
    height: var(--auto-size);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

main{
    max-width: 840px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: var(--text-center);
}

aside h2 {
    position: absolute;
    top: 0.01rem;
    left: 3.5rem;
}

aside img{
    width: 200px;
    height: var(--auto-size);
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-center);
}



/* Class Selectors */


.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: aqua;
    color: white;
}